<div class="container-fluid" style="min-height: 100vh;">
    <div class="row align-items-center justify-content-center no-gutters col-md-">
        <div class="col-md-3 facebook-style" id="form-container">
            <form (ngSubmit)="onSubmitForm()" [formGroup]="patientForm" class="submit-form" id="form">
                <h2 *ngIf="id == ''" style="margin-bottom: 35px;">Prendre un rendez-vous!</h2>
                <h2 *ngIf="id != ''">Update Infos</h2>
                <div class="form-group" id="fullName-input-section">
                    <label for="fullName">Patient's name</label> <br>
                    <input type="text" formControlName="fullName" class="form-control">
                    <p *ngIf="patientForm.controls.fullName.touched &&
                              patientForm.controls.fullName.invalid &&
                              patientForm.controls.fullName.invalid"
                        class="alert alert-danger">Please, Enter a valid name.</p>
                </div>
                <div class="form-group" id="phoneNumber-input-section">
                    <label for="phoneNumber">Phone number</label> <br>
                    <input type="tel" formControlName="phoneNumber" class="form-control">
                    <p *ngIf="patientForm.controls.phoneNumber.touched &&
                              patientForm.controls.phoneNumber.invalid &&
                              patientForm.controls.phoneNumber.invalid"
                        class="alert alert-danger">Please,Enter 10 digit Mobile Numbers.</p>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit"
                            [disabled]="patientForm.invalid">Submit</button>
                </div>
                <div *ngIf="firebaseErrorMessage != ''"
                      style="background-color: #dc3545;">{{ firebaseErrorMessage }}</div>
                <button *ngIf="(id === '') && patientForm.touched"
                         class="btn btn-danger" (click)="resetForm()">Cancel</button>
                <button *ngIf="id !== ''" class="btn btn-danger" (click)="resetForm()">
                    Cancel Updating
                </button>
            </form>
        </div>

        <div class="col-md-8 facebook-style" id="list-container">
            <table *ngIf="patientsList.length != 0" class="table">
                <thead>
                    <th *ngFor="let th of tHead">{{ th }}</th>
                </thead>
                <br>
                <tbody>
                    <tr *ngFor="let rdv of patientsList |async">
                        <td>{{ rdv.fullName }}</td>
                        <td>{{ rdv.phoneNumber }}</td>
                        <td>{{ rdv.created_at.toDate() | date:datePape }}</td>
                        <td>
                            <p *ngIf="!rdv.lastUpdate">Not updated</p>
                            <p *ngIf="rdv.lastUpdate">{{ rdv.lastUpdate.toDate() | date:datePape }}</p>
                        </td>
                        <td>
                            <i *ngIf="checkUserPermission(rdv)" class="fas fa-edit" (click)="onUpdateIcon(rdv)"
                                style="cursor: pointer; padding: 5px; color: #0d6efd;">
                            </i>
                        </td>
                        <td>
                            <i *ngIf="checkUserPermission(rdv)" class="fas fa-trash-alt" (click)="onDelete(rdv)"
                                style="cursor: pointer; padding: 5px; color: #dc3545;">
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h1 *ngIf="emptyList()" id="emptyList">List Empty</h1>
        </div>
    </div>
</div>

<!-- THE END. -->
