/* .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 9px 9px 25px 9px;
} */
.col-8 {
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
}

.col-4 {
    background-color: rgb(255, 207, 207);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
}
.submit-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.submit-form h2 {
    text-align: center;
}
.submit-form div {
    margin: 15px auto;
}
.submit-form div input {
    width: 100%;
}
.submit-form div button {
    width: 100%;
}