<div class="container-fluid">
    <!-- users list -->
    <div *ngIf="adminPermission() || editorPermission()" 
          class="col-md-8 facebook-style" id="users-list">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
                <tr>
                    <th *ngFor="let head of usrsCols">{{ head }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.ID }}</td>
                    <td>{{ user.First_Name }}</td>
                    <td>{{ user.Family_Name }}</td>
                    <td>{{ user.Email }}</td>
                    <td>{{ user.Phone_Number }}</td>
                    <td>{{ user.Created_At.toDate() | date:datePipe }}</td>
                    <td>
                        <span>{{ user.Role }}</span>
                        <span *ngIf="adminPermission()" (click)="onDeleteUser(user.UID)"
                               class="fas-icon-container">
                            <i class="fas fa-trash-alt fas-icon"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- rendezvous list -->
    <div *ngIf="adminPermission() || editorPermission()" 
          class="col-md-8 facebook-style" id="rendezvous-list">
        <table *ngIf="!emptyRdvList()" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" 
                class="row-border hover" id="rdv-table">
            <thead>
                <tr>
                    <th *ngFor="let header of rdvCols">{{ header }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rdv of patients">
                    <td>{{ rdv.id }}</td>
                    <td>{{ rdv.fullName }}</td>
                    <td>{{ rdv.phoneNumber }}</td>
                    <td>{{ rdv.created_at.toDate() | date:datePipe }}</td>
                    <td>
                        <span *ngIf="!rdv.lastUpdate">Not updated</span>
                        <span *ngIf="rdv.lastUpdate">{{ rdv.lastUpdate.toDate() | date:datePipe }}</span>
                        <span *ngIf="adminPermission()" (click)="onDeletePatient(rdv)"
                               class="fas-icon-container">
                            <i class="fas fa-trash-alt fas-icon"></i>
                        </span>
                    </td>
                    <!-- <td *ngIf="adminPermission()" class="fas-icon-container">
                        <i class="fas fa-trash-alt" (click)="onDeletePatient(rdv)"
                           style="cursor: pointer; padding: 5px;"></i>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <h1 *ngIf="emptyRdvList()" id="emptyList">Rendezvous List is Empty</h1>
    </div>

    <!-- chart js -->
    <div class="col-md-8 facebook-style" id="chart-container">
        <div id="divChart">
            <canvas id="myChart" width="750" height="400"></canvas>
        </div>
        <div class="exp-btn-container">
            <button class="btn btn-outline-success" (click)="chartToPNG()">
                export to JPEG</button>
        </div>
    </div>
</div>

<!-- THE END -->