.container-fluid {
    padding: 5px 11px;
    min-height: 100vh;
}

#adminTable {
    width: fit-content;
}

#adminTable, #users-list, #rdvs-list, #rdv-chart-container, #usrs-chart-container {
    padding: 15px;
    margin: 15px auto;
    width: 75%;
    min-height: 100px;
    font-family: 'ubuntu';
}

#rdv-chart-container, #usrs-chart-container {
    width: 65%;
}

#users-list, #rdvs-list{
    height: 400px;
}

.t-th-cel, .t-td-cel {
    padding-left: 15px;
}

#emptyList {
    opacity: 0.5;
    text-align: center;
    padding: 50px 0;
}

.fas-icon-container {
    color: #dc3545;
}

.fas-icon {
    padding: 7px;
    cursor: pointer;
}

.selected-user {
    cursor: pointer;
}

.selected-user:hover {
    background-color: rgb(255, 250, 151);
}