<div class="container-fluid">
    <!-- users list -->
    <div *ngIf="adminPermission() || editorPermission()" 
          class="col-md-8 facebook-style" id="users-list">
        <table datatable [dtOptions]="dtUsersOptions" [dtTrigger]="dtUsersTrigger"
               class="row-border hover">
            <thead>
                <tr><th *ngFor="let head of usrsCols">{{ head }}</th></tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.familyName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>{{ user.created_at.toDate() | date:datePipe }}</td>
                    <td>
                        <span>{{ user.role }}</span>
                        <span *ngIf="adminPermission()" class="fas-icon-container" 
                               (click)="onDeleteUser(user.UID)">
                            <i class="fas fa-trash-alt fas-icon"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- rendezvous list -->
    <div *ngIf="adminPermission() || editorPermission()" 
          class="col-md-8 facebook-style" id="rendezvous-list">
        <table *ngIf="!emptyRdvList()" datatable [dtOptions]="dtRdvsOptions" [dtTrigger]="dtRdvsTrigger"
                class="row-border hover" id="rdv-table">
            <thead>
                <tr><th *ngFor="let header of rdvCols">{{ header }}</th></tr>
            </thead>
            <tbody>
                <tr *ngFor="let rdv of patients">
                    <td>{{ rdv.id }}</td>
                    <td>{{ rdv.fullName }}</td>
                    <td>{{ rdv.phoneNumber }}</td>
                    <td>{{ rdv.created_at.toDate() | date:datePipe }}</td>
                    <td>
                        <span *ngIf="!rdv.lastUpdate">Not updated</span>
                        <span *ngIf="rdv.lastUpdate">{{ rdv.lastUpdate.toDate() | date:datePipe }}</span>
                        <span *ngIf="adminPermission()" (click)="onDeletePatient(rdv)" class="fas-icon-container">
                            <i class="fas fa-trash-alt fas-icon"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <h1 *ngIf="emptyRdvList()" id="emptyList">Rendezvous List is Empty</h1>
    </div>

    <!-- chart js -->
    <div class="col-md-8 facebook-style" id="chart-container">
        <div class="chart-header-container">
            <div>
                <label for="backgroundColor">Change Background Color: </label><br>
                <input type="color" name="backgroundColor" [(ngModel)]="backgroundColor" 
                       id="backgroundColor" style="width: 150px; cursor: pointer;">
            </div>
            <button class="btn btn-outline-success"
                    (click)="chartToImg()">Export To Image</button>
        </div>
        <div id="divChart"  [style.background-color]="backgroundColor">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<!-- THE END -->