.container-fluid {
    padding: 5px 11px;
    min-height: 100vh;
}

#users-list, #rendezvous-list, #chart-container {
    padding: 15px;
    margin: 15px auto;
    max-width: 90%;
    min-width: max-content;
    min-height: 100px;
}

.t-th-cel, .t-td-cel {
    padding-left: 15px;
}

#emptyList {
    opacity: 0.5;
    text-align: center;
    padding: 50px 0;
}

.fas-icon-container {
    cursor: pointer;
    padding: 5px;
    color: #dc3545;
}

.exp-btn-container {
    margin-top: 25px;
    text-align: right
}