<div class="component-container" style="min-height: 100vh;">
    <div class="facebook-style" id="adminTable">
        <table *ngIf="users" class="table hover">
            <title>User's list to edit</title>
            <thead>
                <tr>
                    <th>Order</th><th>Display Name</th><th>Email</th><th>Role</th><th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" (click)="goToUserProfile(user.uid)" 
                     class="selected-user" title="view Details & edit infos">
                    <td>{{ user.order }}</td>
                    <td>{{ user.firstName }} {{ user.familyName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.created_at }}</td>
                </tr>
            </tbody>
        </table>
        <h3 *ngIf="errMsg !== ''">{{ errMsg }}</h3>
    </div>
</div>