#adminTable {
    padding: 15px;
    margin: 15px auto;
    width: 75%;
    min-height: 100px;
    font-family: 'ubuntu';
    min-height: 50vh;
}

.selected-user {
    cursor: pointer;
}

.selected-user:hover {
    background-color: rgb(255, 250, 151);
}