<div class="container-fluid" id="container">
    <div *ngIf="!updateInfos" class="col-sm-8" id="profile-infos">
        <div class="col-sm-3">
            <img [src]="user.imageURL" width="250px" class="rounded-circle"
                alt="{{this.user.firstName}}-{{this.user.familyName}}'s profile picture">
        </div>
        <div class="col-sm-5">
            <h2>{{ user.firstName }} {{ user.familyName }}</h2>
            <h4><i class="fas fa-envelope"></i> {{ user.email }}</h4>
            <h4><i class="fas fa-phone-square-alt"></i> {{ user.phoneNumber }}</h4>
            <h4>Sign up in : {{ user.created_at.toDate() | date:'MMMM d, y --- hh:mm aa' }}</h4>
        </div>
    </div>
    <div *ngIf="!updateInfos" class="col-sm-8" style="margin: 11px auto;">
        <button *ngIf="!updateInfos" class="btn btn-warning" style="float: right;" (click)="onUpdateBTN()">
            Edit profile
        </button>
    </div>

    <form *ngIf="updateInfos" [formGroup]="updateInfosForm" (ngSubmit)="onSubmit()" class="col-sm-6 form" id="form">
        <div>
            <span (click)="onUpdateBTN()" id="close-form" title="Cancel edit & go back to profile">
                <i class="fas fa-times-circle"></i>
            </span>
        </div>
        <h2 style="width: fit-content; margin: 0 auto 50px auto;">
            Update your profile
        </h2>
        <div class="form-group" id="firstName-div">
            <label for="firstName">First Name</label> <br>
            <input formControlName="firstName" type="text" class="form-control">
        </div>
        <div class="form-group" id="familyName-div">
            <label for="familyName">Family Name</label> <br>
            <input formControlName="familyName" type="text" class="form-control">
        </div>
        <div class="form-group" id="phoneNumber-div">
            <label for="phoneNumber">Phone Number</label> <br>
            <input formControlName="phoneNumber" type="tel" class="form-control">
        </div>
        <div class="form-group" id="email-div">
            <label for="email">Email</label> <br>
            <input formControlName="email" type="email" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <p>Ajouter une photo</p>
            <input type="file" (change)="detectFiles($event)" accept="image/*">
            <p *ngIf="fileUploaded" class="text-success">Fichier chargé !</p>
            <progress value="persentage" max="100" style="width:100%; margin: 5px 0;">
                {{ persentage }}
            </progress>
        </div>
        <br>
        <div>
            <button class="btn btn-success" title="Save changes & go back to profile" type="submit"
                [disabled]="updateInfosForm.invalid || fileIsUploading">
                Save changes
            </button>
            <button id="delete-account-btn" class="btn btn-danger" (click)="deleteUser()">Delete account</button>
        </div>
    </form>
</div>

<!-- THE END -->