#container {
    min-height: 100vh;
    padding: 25px 11px;
}

#profile-infos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 300px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
}

#form {
    padding: 15px;
    margin: 0 auto;
}

#close-form, #delete-account-btn {
    float: right;
}

#close-form {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
}

.form-group {
    margin-bottom: 7px;
}