<!-- chart header -->
<div class="chart-header-container">
    <div>
        <label for="backgroundColor">Change Background Color: </label><br>
        <input type="color" name="backgroundColor" id="backgroundColor" 
               style="width: 150px; cursor: pointer;"[(ngModel)]="backgroundColor">
    </div>
    <button class="btn btn-outline-success" (click)="chartToImg()">
        Export To Image
    </button>
</div>

<!-- chart canvas -->
<div id="chart-container">
    <!-- <p>id = {{chartID}}</p> -->
    <canvas style="border: 2px solid #000; border-radius: 25px; padding: 30px;"
            [style.background-color]="backgroundColor" [id]="chartID"></canvas>
</div>