<div class="container-fluid" style="min-height: 100vh; background-color: #efefef; padding: 50px 11px;">

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form">
        <h2 style="width: fit-content; margin: 0 auto 50px auto;">Welcome and join us!</h2>
        <div>
            <label for="displayName">Full Name</label> <br>
            <input autocomplete="off" formControlName="displayName" type="text" placeholder="Display Name"
                class="form-control">
        </div>
        <div>
            <label for="email">Email</label> <br>
            <input formControlName="email" type="email" placeholder="Email" class="form-control">
        </div>
        <div>
            <label for="password">Password</label> <br>
            <input autocomplete="off" formControlName="password" type="password" placeholder="Password"
                class="form-control">
        </div>
        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
        </div>
        <div>
            <button class="btn btn-primary" style="width: 100%;">Continue</button>
        </div>
        <div class="noAccount" style="margin-top: 50px; text-align: center;">
            Already have an account? <a routerLink="/login">Sign in</a>
        </div>
    </form>
</div>